@model IEnumerable<AchieveMaster.Models.Request>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="center">Restricted Access</h1>

<div>
    <h3 class="center">You do not have access to the page you requested. </h3>
</div> 