@model IEnumerable<AchieveMaster.Models.Request>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="center">Restricted Access</h1>

<div>
    <h3 class="center">You do not have access to the page you requested. </h3>
</div> 

<div class="col-md-offset-5 col-md-2">
    <a href="@Url.Action("Index", "Home")" class="btn BlueBG WhiteFont btn-lg">Home <span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
</div>