body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#ED6639;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#map, #map2 { 
    height: 30em; 
    width: 38em; 
}

#MyWrapper{
    position: relative;
}

#AboutMap{ 
    margin-top:2em;
    height: 20em; 
    width: 100%;
}

#AboutHeading{
    position: absolute;
    top: 5em;
    z-index: 99;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.none{
    display:none;
}
.floatright{
    float:right;
}
.allbold{
    font-weight:700;
}

.center{
    text-align:center;
}

.jumbotron{
    background-color:#7F909A;
    color:#000000;
    margin-top:15px;
    padding-bottom:70px;
}

.BlackFont{
    color:#000000;
}

.GrayFont{
    color:#7F909A;
}

.OrangeFont{
    color:#ED6639;
}

.BlueFont{
    color:#385B9F;
}

.WhiteFont{
    color:#FFFFFF;
}

.BlackBG{
    background-color:#000000;
}

.GrayBG{
    background-color:#7F909A;
}

.OrangeBG{
    background-color:#ED6639;
}

.BlueBG{
    background-color:#385B9F;
}

.WhiteBG{
    background-color:#FFFFFF;
}

.RequestDiv{
    padding:20px;
    background-color: lightslategrey;
    border-radius:10px; 
    border:2px solid black;
    box-shadow:black 5px 5px;
    float:left;
    height:300px;
}

.MyRequestDiv{
    padding:20px;
    background-color: lightslategrey;
    border-radius:10px; 
    border:2px solid black;
    box-shadow:black 5px 5px;
    float:left;
    height:350px;
}

.RequestContainer{
    border:5px solid black;
}

.GIHSize{
    font-size:.84em;
}

a.MainHoverLink{
    color:black;
}

a:hover.MainHoverLink div{
    color:black;
    background-color:#e0e0e0;
    border-radius:10px;
}

a.MainHoverLink h2{
    color:#4f0000;
}

a:hover.MainHoverLink h2{
    color:black;
}

.EditTextArea{
    width:500px;
    height:100px;
    border-radius:5px;
}

.photoForm{
    height:300px;
}