@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1 class="BlackFont">Achieve Master</h1>
    <p class="lead BlackFont">Here to help you find anyone to Master the goals you have set before yourself.</p>

    <a href="@Url.Action("About", "Home")" class="btn BlueBG WhiteFont btn-lg">Learn more! <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
</div>

<div class="row">
    <div class="col-md-6">
        <h2 class="BlackFont">Students</h2>
        <p class="BlackFont">You are free to post anything that you are looking to learn whether you're a beginner or getting close to the master status. You can specify any help that you need and you can meet up with tutors to get it done.</p>
    </div>
    <div class="col-md-6">
        <h2 class="BlackFont">Tutors</h2>
        <p class="BlackFont">You are free to go and train students to any of the requests that they have. You will be reviewed based on how good you are as a teacher. You will gain "experience" based on the time you spend with students in individual categories.</p>
    </div>
</div>

<div>
    @Html.Partial("_allRequests")
</div>